<%- include("./panelPartials/header.ejs")  %> 
            <div class="container-fluid px-4">
                <div class="row g-3 my-2">
                    <div class="col-md-3">
                        <a href='/admin/user' class="px-5  bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p class="fs-5">usuarios</p>
                            </div>
                            <i class="fas fa-user-graduate fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href='/admin/clases' class="px-5 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p class="fs-5">Cursos</p>
                            </div>
                            <i class="fas fa-chalkboard-teacher fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href='/admin/actividades' class="px-5 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p class="fs-5">Asignaturas</p>
                            </div>
                            <i class="fas fa-book-open fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <%- include("./panelPartials/footer.ejs")  %> 